@import "src/components/style";

.row {
  height: 100%;

  .sidebarMenu {
    font-style: oblique;
    font-weight: 900;
    background-color: $navcolor;
    width: 230px;
    display: flex;
    box-shadow: 5px 0 5px -5px #333;
    text-align: center;
    justify-content: center;

    #logo {
      align-items: center;
      justify-content: center;
      height: $navbarHeight;
      width: 100%;
      background-color: $boxShadowColor;

      h1 {
        height: 8vh;
        align-items: center;
      }
    }
  }
}