// div {
//     border: 1px solid black;
// }

$contentBackgroundColor:  rgb(34,34,34);

#root {
    height: 100;
    background-color: antiquewhite;
}

.container-fluid{
    height: 100%;

    .col {
        padding: 0 !important;
    }

    .row {
        height: 100%;
    }

}

.content {
    background-color: $contentBackgroundColor;
    height: 100vh;
}