$contentBackgroundColor: rgb(34, 34, 34);
$navscolor: rgb(41, 41, 41);
$boxShadowColor: rgba(30, 30, 30, 255);
$navbarHeight: 60px;

.container-fluid {
  height: 100%;
  .col {
    padding: 0;
    .content {
      height: auto;
      background-color: $contentBackgroundColor;
    }
    nav {
      height: $navbarHeight;
      background-color: $navscolor;
      box-shadow: 5px 5px 5px $boxShadowColor;
    }
  }
  .row {
    .sidebar {
      background-color: $navscolor;
      width: 120px;
      display: flex;

      #logo {
        align-items: center;
        justify-content: center;
        height: $navbarHeight;
        margin-left: auto;
        margin-right: auto;

        h1 {
          height: 8vh;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width : 409px) {
  .sidebar_blue {
    display: none;
  }
}

.container-fluid .row .sidebar {
  @media (max-width : 409px) {
    display: none;
  }
}