@import "src/components/style";

$widthCollapse: 810px;


@media (min-width : $widthCollapse) {
  .sidebarButton {
    display: none;
  }
}

.container-fluid .row .sidebarMenu {
  @media (max-width : $widthCollapse) {
    display: none;
  }
}